/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Playfair+Display&family=Poppins:wght@500&display=swap');

/* Common Styles */

body {
    font-family: 'Dancing Script', cursive;
    font-family: 'Playfair Display', serif;
    font-family: 'Poppins', sans-serif;
    margin: 0px;

}

/*  Banner & button style */
.container {
    background: #161616;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    width: 88%;
    height: 600px;
    margin-left: 70px;
    margin-top: 40px;
    display: flex;
    margin-bottom: 100px;
}

.half-width {
    padding-left: 5%;
    width: 531px;
    height: 424px;
}

.section-title {
    font-weight: 600;
    font-size: 70px;
    line-height: 80px;
    color: #FFFFFF;
    width: 531px;
    height: 220px;
}

.sub-title {
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #FFFFFF;
    width: 500px;
    height: 70px;
    left: 246px;
    top: 380px;
    margin-bottom: 30px;
}

.link-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background: #DD0000;
    border-radius: 5px;
    width: 187px;
    left: 246px;
    height: 50px;
    text-decoration: none;
    color: white;

}

/* img style */
.half-width img {
    width: 400px;
    height: 550px;
    left: 750px;
    margin-top: 50px;
}

/* Match (Blog) Description Style */

.rectangle-1 {
    width: 252px;
    height: 252px;
    left: 170px;
    top: 856px;
}

.description {
    width: 300px;
    height: 290px;
    margin-left: 70px;
    top: 826px;
    background: #161616;
    border-radius: 15px;
    display: flex;
    margin-bottom: 30%;
}

#link {
    width: 245px;
    height: 64px;
    margin-left: 30px;
    margin-top: 25px;
    border-radius: 5px;
    background-color: whitesmoke;
    font-weight: 600;
    font-size: 20px;
}

#link1 {
    width: 245px;
    height: 64px;
    margin-left: 30px;
    margin-top: 25px;
    border-radius: 5px;
    background-color: whitesmoke;
    font-weight: 600;
    font-size: 20px;
}

#link2 {
    width: 245px;
    height: 64px;
    margin-left: 30px;
    margin-top: 25px;
    border-radius: 5px;
    background-color: red;
    font-weight: 600;
    font-size: 20px;
    color: white;
}

.blog-banner {
    width: 12px;
    height: 120px;
    left: 476px;
    top: 826px;
    border-radius: 10px 10px 0px 0px;

}

.blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
    margin-left: 80px;

}

.blog {
    border-radius: 10px 10px 0px 0px;
    margin-bottom: 24px;

}

.blog .blog-banner img {
    width: 250px;
    height: 104px;
}

.blog-info {
    display: flex;
    align-items: center;

}

.blog-btn {
    width: 100px;
    height: 32px;
    left: 496px;
    top: 1021px;

}

.blog-title {
    width: 272px;
    height: 54px;
    left: 832px;
    top: 1068px;
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;

}

/* footer style */

.information {
    width: 100%;
    height: 370px;
    margin-top: 60px;
    background: #161616;
}

.goal h2 {
    width: 9px;
    height: 60px;
    margin-left: 630px;
    font-weight: 500;
    margin-top: 80px;
    font-size: 30px;
    line-height: 270px;
    text-align: center;
    color: #FFFFFF;
}
hr{
width: 1320px;
height: 0px;
left: 140px;
margin-top: 130px;

}
 .info h5{
  display: inline;
  align-items: flex-start;
 margin-left: 7%;
 





font-weight: 500;
font-size: 16px;
line-height: 24px;


color: #B9B9B9;
}
